interactions:
- request:
    body: '{"origin_zip_code": "44100", "destinationZipCode": "44510"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.envioclickpro.com/api/v1/quotation
  response:
    body:
      string: '{"status":"NOT OK","status_codes":[401],"status_messages":[{"error":"Unauthorized."}],"error":"API
        Key inv\u00e1lido. Revisa que tu API key sea v\u00e1lido. Puedes encontrar
        tu  API Key en tu cuenta de www.envioclickpro.com"}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '360'
      X-RateLimit-Remaining:
      - '359'
    status:
      code: 401
      message: Unauthorized
version: 1
